- title "User"

%h3
  User
  %small= link_to "Edit", edit_user_path(@user)

%table.table{style:"width: auto;"}
  %tbody
    %tr
      %td Username
      %td= @user.name
    - if @user.organization
      %tr
        %td Organization
        %td= link_to @user.organization.name, organization_path(@user.organization)
    - if current_user == @user
      %tr
        %td API Key
        %td= @user.api_key
