%section#projects
  %h2.page-header Projects
  %h4 Resource
  %table.table.table-auto
    %thead
      %tr
        %th Property
        %th Description
    %tbody
      %tr
        %td id
        %td The unique identifier by which to identify the project
      %tr
        %td name
        %td The name of the project
      %tr
        %td description
        %td The description of the project

  %a{name:"projects-list"}
  %h3 List
  %p Returns a list of projects.

  %h4 Request
  = api_request_code "projects", "get"

  %h4 Response
  %pre.prettyprint
    = preserve do
      :escaped
        [
          {
            "id": {integer},
            "name": {string},
            "description": {string}
          },
          ...
        ]

  %a{name:"projects-get"}
  %h3 Get
  %p Returns a specified project.

  %h4 Request
  = api_request_code "projects/{id}", "get"

  %h4 Response
  %pre.prettyprint
    = preserve do
      :escaped
        {
          "id": {integer},
          "name": {string},
          "description": {string}
        }
