<% title "Documentation" %>

<div class="row">
  <div class="span9">
    <h1>API Documentation</h1>
    <section id="projects">
      <h2 class="page-header">Projects</h2>
      <h4>Resource</h4>
      <table class="table table-auto">
        <thead><tr><th>Property</th><th>Description</th></tr></thead>
        <tbody>
          <tr><td>id</td><td>The unique identifier by which to identify the project</td></tr>
          <tr><td>name</td><td>The name of the project</td></tr>
          <tr><td>description</td><td>The description of the project</td></tr>
        </tbody>
      </table>

      <a name="projects-list"></a><h3>List</h3>
      <p>Returns a list of projects.</p>
      <h4>Request</h4>
      <%= api_request_code "projects", "get" %>
      <h4>Response</h4>
<pre class="prettyprint">
[
  {
    "id": {integer},
    "name": {string},
    "description": {string}
  },
  ...
]
</pre>

      <a name="projects-get"></a><h3>Get</h3>
      <p>Returns a specified project.</p>
      <h4>Request</h4>
      <%= api_request_code "projects/{id}", "get" %>
      <h4>Response</h4>
<pre class="prettyprint">
{
  "id": {integer},
  "name": {string},
  "description": {string}
}
</pre>
    </section>
    <section id="statuses">
      <h2 class="page-header">Statuses</h2>
      <h4>Resource</h4>
      <table class="table table-auto">
        <thead><tr><th>Property</th><th>Description</th></tr></thead>
        <tbody>
          <tr><td>id</td><td>The unique identifier by which to identify the status</td></tr>
          <tr><td>name</td><td>The name of the status</td></tr>
        </tbody>
      </table>

      <a name="statuses-list"></a><h3>List</h3>
      <p>Returns all statuses.</p>
      <h4>Request</h4>
      <%= api_request_code "statuses", "get" %>
      <h4>Response</h4>
<pre class="prettyprint">
[
  {
    "id": {integer},
    "name": {string}
  },
  ...
]
</pre>
    </section>
  </div>

  <div class="span3">
    <div class="well well-small">
      <ul class="nav nav-list">
        <li class="nav-header">Projects</li>
        <li><a href="#projects-list">List</a></li>
        <li><a href="#projects-get">Get</a></li>
        <li class="nav-header">Statuses</li>
        <li><a href="#projects-list">List</a></li>
      </ul>
    </div>
  </div>
</div>
