- title @indicator.name

%h2= @indicator.name

%table.table{style:"width: auto;"}
  %thead
    %tr
      %td
        %h4 History
  %tbody
    -@indicator.get_history.each do |event|
      = history_row event
