/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

table td {
  padding: 3px;
}

table.table-auto {
  width: auto;
}

// Layout: footer
footer {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #eee;
  color: #ccc;
  img {
    vertical-align: top;
    position: relative;
    top: -1px;
  }
  a {
    color: #ccc;
  }
}

// Docs page
.docs {
  section {
    margin-top: 40px;
    h2.page-header {
      a {
        font-size: 70%;
        text-decoration: none;
        vertical-align: top;
      }
    }
  }
}

// Development
code.debug_dump {
  width: 100%;
  display: block;
  white-space: normal;
}

.quiet {
  color: #999;
}
